<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Liste des fournisseurs</title>
        <link rel="stylesheet" href="/css/general.css">
        <link rel="stylesheet" href="/css/tp-table.css">
    </head>
    <body>
        <h1>La liste des fournisseurs</h1>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="item : ${fournisseurs}">
                    <td data-th-text="${item.id}"></td>
                    <td data-th-text="${item.raisonSociale}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>